/* individual card styling */
.card {
    width: auto;
    max-width: 80vw;
    margin-top: 2em;
    color: black;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    border-radius: 1em;
    background-color: rgba(216, 213, 213, 0.863);

}

/* hover effects */
.cardBody :hover {
    background-color: rgba(160, 157, 157, 0.582);
    border-radius: 1em;
}

button.button.btn.btn-secondary {
    margin-bottom: 0;
    background-color: rgb(44, 11, 44);
    color: white;
    background-color: none;
}

#root > div > div:nth-child(6) > div.tabledisplay > div:nth-child(2) > div > div > div.buttondiv > button {
    bottom: 0;
}