.card {
    background-color: rgb(20, 125, 173);
    width: auto;
    color: black;
    margin-top: 2em;
    color: white;
    border: 2px solid white;
    box-shadow: 2px 2px 2px black;
    border-radius: 1em;
    background-size: cover;
    width: auto;
    margin-left: 2em;
}
