@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

/* body > div:nth-child(7) > div > div.modal.fade.show > div > div {
    background-color: white;
} */

.addchange {
    background-color: black;
    
}

.modal.fade.show {
    margin-top: 10vh;
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    background-color: rgb(138, 124, 121);
    font-family: 'Acme', sans-serif;
}

.textarea {
    margin-top: 2em;
}

.textbox {
    width: 15em;
}

.modal.fade.show > div > div > div.modal-header {
    text-align: center !important;
}

.modal.fade.show > div > div {
    text-align: center !important;
}

.formclass {
    display: block;
}