.textarea {
    margin-top: 2em;
}

.textbox {
    width: 15em;
}

body > div:nth-child(7) > div > div.modal.fade.show > div > div > div.modal-header {
    text-align: center;
}

body > div:nth-child(7) > div > div.modal.fade.show > div > div {
    text-align: center;
}
