@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.App {
  text-align: center;
  background-image: url(./assets/rustic.jpeg);
  font-family: 'Acme', sans-serif;
  height: auto;
}