@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.App {
  text-align: center;
  background-color: rgb(102, 102, 102);
  font-family: 'Acme', sans-serif;
  text-shadow: 4px 4px 4px #aaa;
}