.main{
    background-color: rgb(234, 240, 206);
    margin-top: 2em;;
}

.homediv{
    background-image: url(../assets//bonfire.jpeg);
    background-size: cover;
    font-size: 1em;
    height: 10em;
    color: white;
}
