.main{
    background-color: rgb(219, 198, 195);
    height: auto;
    padding-bottom: 2em;
    margin-top: 2em;
}

.homediv{
    background-image: url(../assets//bonfire.jpeg);
    background-size: cover;
    font-size: 1em;
    height: 10em;
    color: white;
}
