.menudiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.li {
    color: black;
}

.li:hover {
    background: none;
    text-decoration: none;
    font-weight: bold;
    border: none;
    color: Blue;
}

#logoutbutton {
    background: none;
    color: black;
    border: none;
}

#logoutbutton:hover {
    background: none;
    font-weight: bold;
    border: none;
    color: Red;
}