.menudiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    background-color: white;
    padding: 1.5em;
    margin-left: 1.5em;
}

.li {
    padding-right: 25vw;
    margin-left: 1em;
    color: black;
}

.logoutbutton {
    margin-top: -0.5em;
}