.sidebar-list-styling{
    background-color: #7d8491;
}

#root > div > div.menu.container > div.sidebar-list-styling > ul {
    padding: 0px;
    margin: 0px;
}
    

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-list a{
    color: black;
}

.main {
    margin: 0px;
    padding: 0px;
}

.button {
    color: black;
    margin-bottom: 1em;
    padding: 0em;
}